<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>DevJobs | {{pageName}}</title>

    <link rel="shortcut icon" href="/img/icon.png" type="image/png" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/trix.css">
    <link rel="stylesheet" href="/css/app.css">
  </head>

  <body>
    <div class="site-name container">
      <h1>
        <a href="/">devJobs</a>
      </h1>
    
      {{#if searchBar}}
        <div class="searcher">
          <form action="/searcher" method="POST">
            <input type="text" name="q" class="search">
            <input type="submit" value="Buscar">
          </form>
        </div>
      {{/if}}
    
      {{#if signOut}}
        <div class="sign-out">
          <p>Hola! {{name}}</p>
      
          {{#if image}}
            <img src="/uploads/profiles/{{image}}" class="admin-profile">
          {{/if}}
      
          <a href="/administration">Administración</a>
          <a href="/sign-out">Cerrar Sesión</a>
        </div>
      {{/if}}
    </div>
    
    <header class="site-header container separator">
      <h2>{{pageName}}</h2>
    
      {{#if tagline}}
        <p class="tagline">{{tagline}}</p>
      {{/if}}
    
      {{#if button}}
        <a href="/vacancies/new" class="btn btn-blue">Publicar Nueva Vacante</a>
      {{/if}}
    </header>
    
    <div class="main-content container">
      {{#if messages}}
        <div class="alerts">
          {{#showAlerts messages}}
            <li>do</li>
          {{/showAlerts}}
        </div>
      {{/if}}
    
      {{{body}}}
    </div>

    <script src="/js/trix.js"></script>
    <script src="/dist/app.js"></script>
  </body>
</html>
